{% extends 'blog/base.html'  %}

{% block content %}

Hello. <p>
I am a Japanese woman. Though I am over 60 years old, I tried to learn Django through the Django girls project. So this blog is  an example of Django Girls.  
But, what do I write here?    ...............thinking................  
</p>

<p>I have been keeping labels on some products, tickets, and cards whose designs or motifs I liked. They are valueless, but I like them with my memories when I got them. So I am going to enumerate those on my blog for myself. 
Someday, I will add search and classification functions.
{% endblock %}
