{% load static %}
<!doctype html>
<html>
<head>
<title>fi.pythonanyware.com</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
<div class="page-header">
{% if user.is_authenticated %}
  <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
  <a href="{% url 'post_draft_list' %}" class="top-meuu"><span class="glyphicon glyphicon-edit"></span><a>
  <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
{% else %}
  <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
{% endif %}
  <h1><a href="/">形、色、模様 </a></h1>

<!--###### 2020 0413 add --> 
<nav>
<ul>
<li class="current"><a  href="{% url 'post_list' %}">ホーム</a></li>
<li><a href="{% url 'post_blog' %}">blog</a></li>
<li><a href="{% url 'post_members' %}">members</a></li>
</ul>
</nav>
<!--#####-->
</div>
<div class="content container">
  <div class="row">
     <div class="col-md-8">
    {% block content %}
    {% endblock %}
    </div>
  </div>
 </div>

<div class="page-footer">
<p>
   <a href="{%  url  'about'  %}">About Me</a>
</p>
</div>
</body>
</html>
