{% extends 'blog/base.html' %}

{% block content  %}
<ul class="breadcrumb">
    <li itemscope="itemscope"  >
       <a href="/"  itemprop="url">
          <span  itemprop="title">home</span>
       </a>
    </li>
</ul>
  <div  class="post">
     {% if post.published_date %}
          <div class="date">
            {{ post.published_date }}
          </div>
     {% else %}
          <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
     {% endif %}
     {% if user.is_authenticated  %}
       <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
<span class="glyphicon glyphicon-pencil">edit</span></a>
       <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
<span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}

     <h1>{{ post.title }} </h1>
     <p><img src="/static/{{ post.file_name }}" >
     {{ post.abstract }}</p>
     <br> *****<br>
     {{ post.text |linebreaksbr }} 
     <br> *****<br>
     </p>
  </div>
{% endblock  %}
