{% extends 'blog/base.html' %}
{% load  static  %}


{% block content %}

  <div class="content_container">
   <div class="row">
    <div class="col-mod-8" >

<div class="post">
 <div class="term">
   <h2>latest blogs</h2>

       <p> -- click the image --</p>
 </div>
 {% for post in posts %}
   <div class="title">
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
   </div>

      <div class="date">
         <p>published: {{ post.published_date}} </p>
      </div>  
      <p>
      <a  href="{% url 'post_detail' pk=post.pk %}">
      <img src="/static/ic-{{post.file_name}}" %}" >
      </a>
<!-- 2020 0119 20    {{post.abstract|linebreaksbr}}   -->
   
</div>
 {% endfor %}

<div class="term">
   <h2>archived blogs </h2>
       <p> -- click the image --</p>
</div>

    <div class="archive" >
  {% for post in posts_a  %}

      <a  href="{% url 'post_detail' pk=post.pk %}">
      <img src="/static/ic-{{post.file_name}}" %}" ></span>
      </a>
  <!-- 2019/10/02 -->
      <span class="ic-list">{{post.title}}</span>
  {% endfor %}
    <br>
    </div>

     </div>
    </div>
   </div>

{% endblock %}

