h1 a {
  color: red;
}
body {
  padding-left: 15px;
}

.page-header {
   background-color: #ff9400;
   margin-top: 0;
   padding:  20px  20px  20px  40px;
}
.page-header h1, .page-header  h1 a, .page-header h1
a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size:30pt;
    text-decoration: none;
}
.content {
  margin-left: 40px;
}

h1,h2 a ,h3,h4 {
 color: #000000;
}
.title {
 color: #ffffff;
}

.date {
  color: #669933;
}

.save {
  float:  right;
}
.post-form textarea, .post-form input {
   width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited  {
   color: #ffffff;
   float: right;
   font-size: 26pt;
   margin-right: 20px;
}

.post h1 a, .post h1 a:visited , .post h2 {
   color: #000000;
}

.comment {
   margin:20px 0px 20px 20px;
}
.page-footer, .page-footer a {
   background-color: #ffcc00;
   color: #ffffff;
   margin-top: 40px;
   padding:  20px  20px  20px  40px;
}
.term  h2 {
   background-color: #ffcc00;
   margin-top:  20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
}
   
.archive a {
   padding-top:4px;
   padding-bottom: 4px;
   padding-left:4px;
}
.ic-list { 
   padding-right:20px;
}
